:root{
  --black_T_50: rgba(0,0,0,0.5);
  --white_100: rgba(255,255,255,1);
}

body,
header,
#bodyResume{
  position: relative;
}

body{
  margin: 0;
}

header{
  z-index: 1;
}

ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navBar{
  position: fixed;
  width: 100%;
  height: 5.5%;
  top: 0;
  background-color: #333;
}

#navBar > nav{
  position: absolute;
  top: 0;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.navBar__ul {
  background-color: #333;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.navBar__list{
  float: left;
}

.navBar__list > a{
  color: var(--white_100);
  display: block;
  font-size: 1.2em;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navBar__list > a:hover{
  background-color: #111;
}

.navBar__list--active > a{
  color: #4CAF50;
}
.navBar__list__closeBtn{
  color: #818181;
  display: none;
  padding: 5px 5px 0px 0px;
  text-align: right;
  text-decoration: none;
}

#bodyResume {
  position: relative;
  top :5%;
}
.navBar__btn{
  background-color: #111;
  border: none;
  color: var(--white_100);
  display: none;
  font-size: calc(1em + 3.5vw);
}

.navBar__sidebarBtn{
  height: 6.795%;
  position: fixed;
  width: 12.08%;
  left: 0;
  top: 0;
  opacity: 0.7;
}

#home{
  height: 70%;
  position: relative;
  width: 100%;
}

.home__right{
  color: var(--white_100);
  left: 0;
  height: 100%;
  position: absolute;
  width: 75%;
}

.home__parallax{
  background-image: url(https://images.pexels.com/photos/261577/pexels-photo-261577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__greeting{
  font-size: calc(0.8em + 1vw);
  left: 5%;
  position: inherit;
  top: 50%;  
}

.home__greeting > p,
.home__greeting > h1{
  margin: 0;
}

.home__left{
  background-color: #333;
  color: var(--white_100);
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  width: 25%;
}

.home__profilePicture{
  border-radius: 50%; 
  margin: 5% 0 0 30%;
  overflow: hidden;
  width: 40%
}

.home__profileName > h2{
  font-size: calc(1em + 0.8vw);
}

.home__profilePicture > img {
  width: 100%
}

.home__network{
  margin: 5% 0 5% 0;
}

.home__downloadCV{
  font-size: calc(0.1em + 1vw);
  display: inline;
}

.network{
  display: inline-flex;
}

.network > li{
  margin: 5% 6px 0% 6px;
}



@media only screen and (max-width: 768px) {
  .navBar__sidebarBtn,
  .navBar__list__closeBtn,
  .navBar__btn{
    display: block;
  }
  #navBar{
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 50%;
    z-index: 1;
  }
  .navBar__list {
    width: 100%;
  }
  .navBar__list > a{
    display: block;
    font-size: calc(1em + 2vw);
    padding: 8px 8px 8px 32px;
    text-align: left;
    text-decoration: none;
    transition: 0.3s;
  }
  .navBar__list__closeBtn .navBar__btn{
    background-color: inherit;
    color: inherit;
    margin-left: 82%;
  }
  
}